go 1.21

toolchain go1.21.5

use (
	./api/golang
	./cli/cli
	./cloud/api/golang
	./container-engine-lib
	./contexts-config-store
	./core/files_artifacts_expander
	./core/launcher
	./core/server
	./enclave-manager/api/golang
	./enclave-manager/server
	./engine/launcher
	./engine/server
	./grpc-file-transfer/golang
	./internal_testsuites/golang
	./kurtosis_version
	./metrics-library/golang
	./name_generator
	./path-compression
	connect-server
)
