# Vim swapfiles
*.swp

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# build scripts and artifacts
build/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# files for JetBrains IDE
.idea/*.xml
.idea/*.iml

# Built binary
./kurtosis

# This code will get generated locally on the user's machine every time they run 'build', as well as
#  inside the Docker image whenever the API container image is built
api_container/generated_api_code

# Dependency directories (remove the comment below to include it)
# vendor/
