<div>
  <h1>Enclaves</h1>
  <.live_component
    module={DashboardWeb.ListEnclavesComponent}
    items={@enclaves}
    id="enclaves_list"
    parent={@parent}
  />
  <.live_component
    module={DashboardWeb.ListServicesComponent}
    items={@services}
    id="service_list"
    parent={@parent}
  />
</div>
