name: Change versions
on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - "version.txt"
jobs:
  change_version:
    if: contains(github.head_ref, 'release-please')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          token: "${{ secrets.RELEASER_TOKEN }}"
      - run: |
          echo "deb [trusted=yes] https://apt.fury.io/kurtosis-tech/ /" | sudo tee /etc/apt/sources.list.d/kurtosis.list
          sudo apt update
          sudo apt install kudet
        name: Install Kudet
      - name: Change versions
        run: | 
          api/scripts/update-package-versions.sh "$(cat version.txt)"
          api/scripts/update-own-version-constants.sh "$(cat version.txt)"
          scripts/update-license-version.sh "$(cat version.txt)"
      - run: |
          sudo apt install nodejs npm
      - name: Setup NPM for cutting new version of docs
      - name: Cut a New Docs version
        run: |
          version="$(cat version.txt)"
          cd docs/
          # revert any other docs changes made in this release please pr so far
          git restore .
          git clean -fd .
          npm install
          npm run docusaurus docs:version $(version)
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          token: "${{ secrets.RELEASER_TOKEN }}"
