# Check PR title for conventional commits
name: Check PR title
on:
  pull_request_target:
    branches-ignore:
      - gh-readonly-queue/main/*
    types:
      - opened
      - reopened
      - edited
      - synchronize

# cancel redundant builds
concurrency:
  group: "title-checker-${{ github.head_ref }}"
  cancel-in-progress: true

jobs:
  title_check:
    runs-on: ubuntu-latest
    permissions:
      statuses: write
    steps:
      - uses: aslafy-z/conventional-pr-title-action@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

