name: Dependabot auto-label & set auto merge
on: pull_request

# Inspired from https://docs.github.com/en/code-security/dependabot/working-with-dependabot/automating-dependabot-with-github-actions
permissions:
  pull-requests: write
  contents: write

jobs:
  dependabot:
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'dependabot[bot]' }} || ${{ github.event.pull_request.user.login == 'dependabot[bot]' }}
    steps:
      - name: Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/setup-go@v4
        with:
          go-version: '>=1.18.0'
      - uses: actions/checkout@v3
        with:
          token: "${{ secrets.RELEASER_TOKEN }}"
          fetch-depth: 0
      # update go mod
      - name: Clean up go mod as dependabot deletes kurtosis_version
        run: |
          ./scripts/generate-kurtosis-version.sh
          cd ".${{steps.metadata.outputs.directory}}"
          go get github.com/kurtosis-tech/kurtosis/kurtosis_version@v0.0.0
      # commit the go mod update
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          token: "${{ secrets.RELEASER_TOKEN }}"
      - name: Approve a PR
        run: gh pr review --approve "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - name: Enable auto-merge for Dependabot PRs
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
