name: gofmt

# We only want one run of this on a branch
# if you push another commit the previous run should cancel
concurrency:
  group: "gofmt-${{ github.ref }}"
  cancel-in-progress: true

on:
  pull_request:
  merge_group:

jobs:
  check-if-code-change:
    runs-on: ubuntu-latest
    outputs:
      change: ${{ steps.check.change }}
    steps:
      - uses: actions/checkout@v4
        with:
          go-version: '1.20'
          fetch-depth: 0
      - run: |
          if git --no-pager diff --exit-code origin/main...HEAD -- . ':!docs' ':!*.md'; then
            echo "::set-output name=change::false"
          else
            echo "::set-output name=change::true"
          fi
        id: check  
  gofmt:
    needs: check-if-code-change
    if: ${{ needs.check-if-code-change.outputs.change == true }}
    name: gofmt
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-go@v3
      with:
        go-version: '1.20'
    - uses: actions/checkout@v3
    - run: scripts/generate-kurtosis-version.sh
    - uses: Jerome1337/gofmt-action@v1.0.5
      with:
        gofmt-path: './'
        gofmt-flags: '-l -d -s'
