name: Deploy documentation

on: push

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    name: Publish to Cloudflare Pages
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Docs have changed
        run: |
          echo "$(git --no-pager diff --exit-code origin/main...HEAD -- ':docs'; echo $?)"
          echo "DOCS_CHANGED=$(git --no-pager diff --exit-code origin/main...HEAD -- ':docs'; echo $?)" >> $GITHUB_OUTPUT
        id: docs-diff
      - name: Early exit if no docs have changed
        run: exit 0
        if: github.ref != 'refs/heads/main' && steps.docs-diff.outputs.DOCS_CHANGED == 0
      - name: Append changelog
        run: cat CHANGELOG.md >> docs/docs/changelog.md
      - name: Yarn Install
        run: yarn --cwd ./docs install
      - name: Yarn Build
        run: yarn --cwd ./docs build
      
      - name: Publish to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: ${{ secrets.CLOUDFLARE_PROJECT_NAME }}
          directory: docs/build/
          # as we publish on tag we want to tell CF that the branch is still main so that it can deploy to production
          branch: ${GITHUB_REF##*/}
