on:
  push:
    branches: [main]

name: release-please
jobs:
  release-please:
    name: "Release please"
    runs-on: ubuntu-latest
    if: github.repository == 'kurtosis-tech/kurtosis'
    steps:
      - uses: googleapis/release-please-action@v4.1.3
        with:
          # We use the RELEASER_TOKEN so that the GitHub Actions
          # can run on the PR created
          # https://github.com/kurtosis-tech/kurtosis/issues/688
          token: "${{ secrets.RELEASER_TOKEN }}"
          release-type: simple
